.Armazem {
    text-align: center;
    padding: 32px;

}
.Armazem h3{
    font-size: 32px;
    display:inline-block;
    padding-bottom: 8px;
}

.Armazem .Equipamentos {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}